<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Primary Meta Tags -->
    <title>Yash Karade 🌟 | Developer, JS Enthusiast</title>
    <meta name="title" content="Yash Karade 🌟 | Developer, JS Enthusiast">
    <meta name="description" content="For me, Life is all about Learning & Living, I'm a Developer in love with JS and It's siblings! Fav Quote 
        Only a life lived for others is a life worthwhile.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://yashkaraday.com/">
    <meta property="og:title" content="Yash Karade 🌟 | Developer, JS Enthusiast">
    <meta property="og:description" content="For me, Life is all about Learning & Living, I'm a Developer in love with JS and It's siblings! Fav Quote 
        Only a life lived for others is a life worthwhile.">
    <meta property="og:image" content="images/cover.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://yashkaraday.com/">
    <meta property="twitter:title" content="Yash Karade 🌟 | Developer, JS Enthusiast">
    <meta property="twitter:description" content="For me, Life is all about Learning & Living, I'm a Developer in love with JS and It's siblings! Fav Quote 
        Only a life lived for others is a life worthwhile.">
    <meta property="twitter:image" content="images/cover.png">
    <meta name="Keywords"
        content="Yash, Yash Ram Karade, Yash Karade, Yash Karaday, Karade, karade, Ram Karade, Shobhana Gangurde, Gangurde, Shokshani Gangurde">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
</head>



<body>
    <div class='KW_progressContainer'>
        <div class='KW_progressBar'></div>
    </div>
    <div class=page>
        <%- include ("../partials/navbar",{page: page}) %>
        <div id='colorlib-page'>
            <header>
                <div class='container'>
                    <div class='row'>
                        <div class='col-md-12'>
                            <div class='colorlib-navbar-brand'><a class='colorlib-logo' href='/'><span class='logo-img'
                                        style='background-image:url(images/person_1.jpg)'></span>Hey<span
                                        class='waver'>👋</span></a>
                            </div><a href='#' class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
                        </div>
                    </div>
                </div>
            </header>