<%- include ("../partials/header",{page:'About'}) %>
<section class="ftco-section about-section">
	<div class=container>
		<div class="row d-flex my-5" data-scrollax-parent=true>
			<div class="col-md-4 author-img" style=background-image:url(images/author-1.jpg)
				data-scrollax=" properties:{translateY: '-70%'}"></div>
			<div class=col-md-2></div>
			<div class="col-md-6 wrap ftco-animate">
				<div class=about-desc>
					<h1 class=bold-text>Resume</h1>
				</div>
				<div class=p-5>
					<h2 class=mb-5>Hi! I'm Yash Karaday</h2>
					<p>The day a human stops learning is the day he ends being a human</p>
					<ul class="ftco-footer-social list-unstyled mt-4">
						<li><a href=https://twitter.com/yashkaraday target=_blank><span class=icon-twitter></span></a>
						</li>
						<li><a href=https://facebook.com/creativeorganism target=_blank><span
									class=icon-facebook></span></a>
						</li>
						<li><a href=https://instagram.com/superiorstar target=_blank><span
									class=icon-instagram></span></a>
						</li>
					</ul>
					<h5>Contact me here!</h5>
					<p>Email: <a href=mailto:hi@yashkaraday.com>hi@yashkaraday.com</a>
					</p>
					<p>Phone: <a href="tel:91 9322244007">(+91) 9322244007</a>
					</p>
				</div>
			</div>
		</div>
		<div class="row d-flex justify-content-end mt-5">
			<div class=col-md-10>
				<div class="profile ftco-animate">
					<h2 class=mb-4>Profile</h2>
					<h4 class=mb-4>I'm a Developer from Bombay, India. I aim to make a difference through my creative
						solutions, with the help of my 'can learn anything skill' i work easily with any technology
						easily. I have a part of my heart reserved towards technology, Give me any problem and the tech
						necessary <strong>I'll give you the solution</strong>.</h4>
					<p>
						<div class="row my-5">
							<div class=col-md-6>
								<p><strong>Name:</strong> <span>Yash Karaday</span></p>
								<p><strong>Address:</strong> <span>11 E S Patanwala Street, Byculla, Mumbai400027</span>
								</p>
								<p><strong>Phone:</strong> <a href:='tel:9322244007'><span>(+91)9322244007</span></a>
								</p>
								<p><strong>Phone:</strong> <a href:='tel:02223711671'><span>022-23711671</span></a></p>
							</div>
							<div class=col-md-6></div>
						</div>
				</div>
				<div class="exp mt-5 ftco-animate">
					<h2 class=mb-4>Experiences</h2>
					<h4 class=mb-4>Actively looking for internships and chances to explore new
						domains.<br><br>Implemented numerous projectsincluding E-commerce portals, Netwroking Projects,
						Home Automation, IOT projects,etc.</h4>
					<div class="exp-wrap py-4">
						<div class=desc>
							<h4>Developer, Founder<span> - <a href='https://daxy.in' target="_blank">DAXY</a>,
									TheDigital Consultancy</span> </h4>
							<p class=location>Bombay - India</p>
						</div>
						<div class=year>
							<p>2019 - Present</p>
						</div>
					</div>
					<div class="exp-wrap py-4">
						<div class=desc>
							<h4>Freelancing and Personal projects<span></span> </h4>
							<p class=location>Bombay - India</p>
						</div>
						<div class=year>
							<p>2016 - Present</p>
						</div>
					</div>
				</div>
				<div class="exp mt-5 ftco-animate">
					<h2 class=mb-4>Education</h2>
					<div class="exp-wrap py-4">
						<div class=desc>
							<h4>Bachelors in Electronics Engineering<span> - University of Mumbai</span></h4>
							<p class=location>Bombay - India</p>
						</div>
						<div class=year>
							<p>2019 - Present</p>
						</div>
					</div>
					<div class="exp-wrap py-4">
						<div class=desc>
							<h4>Polytechnic in Computer Science<span> - Goverment Polytechnic, Mumbai</span></h4>
							<p class=location>Bombay - India</p>
						</div>
						<div class=year>
							<p>2019</p>
						</div>
					</div>
					<div class="exp-wrap py-4">
						<div class=desc>
							<h4>SSC<span> - Antonio D'souza High School</span> </h4>
							<p class=location>Bombay - India</p>
						</div>
						<div class=year>
							<p>2015</p>
						</div>
					</div>
				</div>
				<div class="exp mt-5 ftco-animate">
					<h2 class=mb-4>Additional Learning</h2>
					<div class="exp-wrap py-4">
						<div class=desc>
							<h4>Ethical Hacking<span> - <a href="https://www.youtube.com/watch?v=3Kq1MIfTWCE"
										target="_blank">Youtube</a></span>, <a href="https://www.udemy.com/"
									target="_blank">Udemy</a> </h4>
							<p class=location>Online Learning</p>
						</div>
						<div class=year>
							<p>2020 - Present</p>
							<p style="color:#00FFFF; font-size: 0.7em;">#ONGOING</p>
						</div>
					</div>
					<div class="exp-wrap py-4">
						<div class=desc>
							<h4>Python for Everything<span> - <a
										href="https://www.udemy.com/python-the-complete-python-developer-course/"
										target="_blank">
										Udemy</a></span> </h4>
							<p class=location>Online Learning</p>
						</div>
						<div class=year>
							<p>2020 - Present</p>
							<p style="color:#00FFFF; font-size: 0.7em;">#ONGOING</p>
						</div>
					</div>
					<div class="exp-wrap py-4">
						<div class=desc>
							<h4>Responsive HTML5, CSS3, JavaScirpt ES6<span> - <a href="https://www.youtube.com/"
										target="_blank">Youtube</a>, <a href="https://FreeCodeCamp.org"
										target="_blank">FreeCodeCamp</a></span> </h4>
							<p class=location>Online Learning</p>
						</div>
						<div class=year>
							<p>2020 - Present</p>
							<p style="color:#00FFFF; font-size: 0.7em;">#ONGOING</p>
						</div>
					</div>
					<div class="exp-wrap py-4">
						<div class=desc>
							<h4>Internet of Things and Machine Learning<span> - <a href="https://www.boltiot.com/"
										target="_blank">Bolt IOT</a></span></h4>
							<p class=location>Online Learning</p>
						</div>
						<div class=year>
							<p>2019</p>
						</div>
					</div>
					<div class="exp-wrap py-4">
						<div class=desc>
							<h4>Embedded System Design, RTOS<span> - <a href="https://gpmumbai.ac.in"
										target="_blank">Government Polytechnic Mumbai</a></span> </h4>
							<p class=location>Bombay, India</p>
						</div>
						<div class=year>
							<p>2017</p>
						</div>
					</div>
					<div class="exp-wrap py-4">
						<div class=desc>
							<h4>Computer Hardware and Networking<span> - <a href="https://gpmumbai.ac.in"
										target="_blank">Government Polytechnic Mumbai</a></span> </h4>
							<p class=location>Bombay, India</p>
						</div>
						<div class=year>
							<p>2016</p>
						</div>
					</div>
					<div class="exp-wrap py-4">
						<div class=desc>
							<h4>Complete Web Developement Bootcamp<span> - <a
										href="https://www.youtube.com/watch?v=G8uL0lFFoN0"
										target="_blank">Youtube</a>,<a
										href="https://www.udemy.com/the-web-developer-bootcamp"
										target="_blank">Udemy</a></span> </h4>
							<p class=location>Online Learning</p>
						</div>
						<div class=year>
							<p>2015</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row d-flex justify-content-end mt-5 ftco-animate fadeInUp ftco-animated">
			<div class="col-md-10">
				<div class="col-md-8">
					<h2 class="mb-4">My Skills</h2>
				</div>
				<div class="col-md-10 animate-box">
					<div class="progress-wrap">
						<h4>Linux Operation, Command-LIne</h4>
						<div class="progress">
							<div class="progress-bar color-1" role="progressbar" aria-valuenow="85" aria-valuemin="0"
								aria-valuemax="100" style="width:80%"><span>80%</span></div>
						</div>
					</div>
				</div>
				<div class="col-md-10 animate-box" data-animate-effect="fadeInRight">
					<div class="progress-wrap">
						<h4>Node.JS</h4>
						<div class="progress">
							<div class="progress-bar color-1" role="progressbar" aria-valuenow="80" aria-valuemin="0"
								aria-valuemax="100" style="width:70%"><span>70%</span></div>
						</div>
					</div>
				</div>
				<div class="col-md-10 animate-box">
					<div class="progress-wrap">
						<h4>Photoshop</h4>
						<div class="progress">
							<div class="progress-bar color-1" role="progressbar" aria-valuenow="75" aria-valuemin="0"
								aria-valuemax="100" style="width:75%"><span>75%</span></div>
						</div>
					</div>
				</div>
				<div class="col-md-10 animate-box" data-animate-effect="fadeInRight">
					<div class="progress-wrap">
						<h4>JavaScirpt ES6</h4>
						<div class="progress">
							<div class="progress-bar color-1" role="progressbar" aria-valuenow="95" aria-valuemin="0"
								aria-valuemax="100" style="width:95%"><span>95%</span></div>
						</div>
					</div>
				</div>
				<div class="col-md-10 animate-box">
					<div class="progress-wrap">
						<h4>HTML5</h4>
						<div class="progress">
							<div class="progress-bar color-1" role="progressbar" aria-valuenow="85" aria-valuemin="0"
								aria-valuemax="100" style="width:85%"><span>85%</span></div>
						</div>
					</div>
				</div>
				<div class="col-md-10 animate-box" data-animate-effect="fadeInRight">
					<div class="progress-wrap">
						<h4>CSS3</h4>
						<div class="progress">
							<div class="progress-bar color-1" role="progressbar" aria-valuenow="90" aria-valuemin="0"
								aria-valuemax="100" style="width:80%"><span>80%</span></div>
						</div>
					</div>
				</div>
				<div class="col-md-10 animate-box">
					<div class="progress-wrap">
						<h4>FIGMA</h4>
						<div class="progress">
							<div class="progress-bar color-1" role="progressbar" aria-valuenow="85" aria-valuemin="0"
								aria-valuemax="100" style="width:100%"><span>100%</span></div>
						</div>
					</div>
				</div>
				<div class="col-md-10 animate-box">
					<div class="progress-wrap">
						<h4>Networking</h4>
						<div class="progress">
							<div class="progress-bar color-1" role="progressbar" aria-valuenow="85" aria-valuemin="0"
								aria-valuemax="100" style="width:85%"><span>85%</span></div>
						</div>
					</div>
				</div>
				<div class="col-md-10 animate-box">
					<div class="progress-wrap">
						<h4>Affable</h4>
						<div class="progress">
							<div class="progress-bar color-1" role="progressbar" aria-valuenow="70" aria-valuemin="0"
								aria-valuemax="100" style="width:110%"><span>110%</span></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><%- include ("../partials/footer") %>