<%- include ("../partials/header",{page:'Home'}) %>
<section class="home-slider owl-carousel js-fullheight">
    <div class="slider-item js-fullheight">
        <div class="overlay"> </div>
        <div class="container">
            <div class="row slider-text align-items-center text-center justify-content-center"
                data-scrollax-parent="true">
                <div class="col-md-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                    <p><a href="#" class="scroll">Hello! I'm</a></p>
                    <h1 class="mb-3" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Yash
                        Karaday</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-item js-fullheight">
        <div class="overlay"> </div>
        <div class="container">
            <div class="row slider-text align-items-center text-center justify-content-center"
                data-scrollax-parent="true">
                <div class="col-md-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                    <p><a href="#" class="scroll">I'm from BomBay</a></p>
                    <h1 class="mb-3" data-scrollax="properties: {translateY: '30%', opacity: 1.6}">A
                        Developer</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section about-section">
    <div class="container">
        <div class="row d-flex" data-scrollax-parent="true">
            <div class="col-md-4 author-img" style="background-image: url(images/author-1.jpg);"
                data-scrollax=" properties: { translateY: '-70%'}"> </div>
            <div class="col-md-2"> </div>
            <div class="col-md-6 wrap ftco-animate">
                <div class="about-desc">
                    <h1 class="bold-text">About</h1>
                </div>
                <div class="p-5">
                    <h2 class="mb-5">Hi! I'm Yash Karaday</h2>
                    <p>In love with Mother Nature, Music and Milkshakes <br> Favourite Quote "Only a life lived for
                        others is a life worthwhile." <a href="#calibre">Checkout my
                            <strong>calibre</strong></a></p> <br><br>
                    <h5>Contact me here!</h5>
                    <p>Email: <a href="mailto:hi@yashkaraday.com">hi@yashkaraday.com</a></p>
                    <p>Phone: <a href="tel:91 9322244007">(+91) 9322244007</a></p>
                    <ul class="ftco-footer-social list-unstyled mt-4">
                        <li><a href="https://twitter.com/yashkaraday" target="_blank"> <span class="icon-twitter">
                                </span></a></li>
                        <li><a href="https://facebook.com/creativeorganism" target="_blank"> <span
                                    class="icon-facebook"> </span></a></li>
                        <li><a href="https://instagram.com/superiorstar" target="_blank"> <span class="icon-instagram">
                                </span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id='calibre' class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate"> <span> Things i have my
                    <strong>calibre</strong> in </span>
                <h5> <span>&#10084; </span> Learning, Problem Solving, <br>Figuring out solutions and </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services p-3 py-4 d-block text-center">
                    <div class="icon mb-3"> <span class="icon-layers"> </span> </div>
                    <div class="media-body">
                        <h3 class="heading">Linux, Kali, Windows</h3>
                        <h3 class="heading">SSH, Remote Desktop</h3>
                        <h3 class="heading">Penetration Testing</h3>
                        <h3 class="heading">VPS, Cloud Servers</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services p-3 py-4 d-block text-center">
                    <div class="icon mb-3"> <span class="icon-gears"> </span> </div>
                    <div class="media-body">
                        <h3 class="heading">IOT, RTOS</h3>
                        <h3 class="heading">Networking</h3>
                        <h3 class="heading">Embedded System Design</h3>
                        <h3 class="heading">Arduino, Raspberry pi</h3>
                    </div> <a style="align-content: center" href="/about">Checkout my
                        <strong>Resume</strong></a>
                </div>
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services p-3 py-4 d-block text-center">
                    <div class="icon mb-3"> <span class="icon-code"> </span> </div>
                    <div class="media-body">
                        <h3 class="heading">Node.js, REST API</h3>
                        <h3 class="heading">JavaScript, HTML, CSS</h3>
                        <h3 class="heading">Wordpress, php, SMM</h3>
                        <h3 class="heading">Creative Designing, Editing</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-counter" id="section-counter">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate"> <span>Portfolio </span>
                <h2>I'd love to share my achievements</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-start">
            <div class="col-md-5 col-sm-5 counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text"> <span class="ftco-label">Happy Clients </span> <strong class="number"
                            data-number="20">0</strong> </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-5 col-sm-5 counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text"> <span class="ftco-label">Project done </span> <strong class="number"
                            data-number="45">0</strong> </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-end">
            <div class="col-md-5 counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text"> <span class="ftco-label">Amount of Energy </span> <strong class="number"
                            data-number="10000">0</strong> </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include ("../partials/footer") %>